.main-bar {
    overflow: hidden;
    height: 200px;
    margin: 10px -8px 50px; 
    display: flex;
    background-image: url(AI-technology2.jpg);
    background-size: cover;
    color: aliceblue;
}

.AI {
    height: 52px;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-family: 'Foldit', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Orbitron', sans-serif;
    padding-top: 30px;
}

.lia {
    text-align: center;
    margin: -39px 0px 25px 0px;
    font-size: small;
}

#img {
    height: 390px;
    width: 400px;
    transform: translate(120px,-30px);
}

.about {
    height: 300px;
    width: 600px;
    transform: translate(450px, -50px);
    margin-bottom: 60px;
    display: inline-block;
    line-height: 30px;
}

.about-head {
    margin-bottom: -20px;
    transform: translateX(80px);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-para {
    height: 300px;
    width: 500px;
    display: inline-block;
    border-radius: 12px;
    transform: translateX(50px);
    text-align: justify;
    font-family: system-ui;
    padding: 5px 10px 1px 10px;
    background-color: #e011;
    color: rgb(6, 6, 6);
    box-shadow: 20px 20px 50px #e044;
}

.mid-bar {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.MLcourse{
    height: 300px;
    width: 220px;
    border-radius: 6px;
    margin-top: 70px;
    margin-left: 10px;
    background-color: rgba(153, 187, 187, 0.7);
    transform: rotatex(25deg) translatey(-50px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
    transition: .6s;
}

.MLcourse img {
    border-radius: 15px;
}

.MLcourse:hover{
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: azure;
}

.MLcourse h3 {
    transform: translate(5px,-20px);
    color: rgb(53, 68, 68);

}

.MLcourse p {
    transform: translate(5px,-50px);
    display: inline-block;
    color: rgb(52, 53, 53);
    text-shadow: 0px 0px 10px grey;
}

.DScourse {
    height: 300px;
    width: 220px;
    border-radius: 6px;
    margin-top: 70px;
    margin-left: 10px;
    background-color: #e0cde3;
    transform: rotatex(25deg) translatey(-50px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
    transition: .6s;
}

.DScourse img {
    height: 154.7px;
    width: 220px;
    border-radius: 15px;
}

.DScourse h3 {
    transform: translate(5px,-20px);
    color: rgb(53, 68, 68);
}

.DScourse p {
    transform: translate(5px,-50px);
    display: inline-block;
    color: rgb(52, 53, 53);
    text-shadow: 0px 0px 10px grey;
}

.DScourse:hover{
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: azure;
}

.CScourse {
    height: 300px;
    width: 220px;
    border-radius: 6px;
    margin-top: 70px;
    margin-left: 10px;
    background-color: #e8f5e9;
    transform: rotatex(25deg) translatey(-50px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
    transition: .6s;
}

.CScourse img {
    height: 154.7px;
    width: 220px;
    border-radius: 15px;
}

.CScourse h3 {
    transform: translate(5px,-20px);
    color: rgb(53, 68, 68);
}

.CScourse p {
    transform: translate(5px,-50px);
    display: inline-block;
    color: rgb(52, 53, 53);
    text-shadow: 0px 0px 10px grey;
}

.CScourse:hover{
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: azure;
}

.Cybercourse {
    height: 300px;
    width: 220px;
    border-radius: 6px;
    margin-top: 70px;
    margin-left: 10px;
    background-color: #9cdbdc;
    transform: rotatex(25deg) translatey(-50px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
    transition: .6s;
}

.Cybercourse img {
    height: 154.7px;
    width: 220px;
    border-radius: 15px;
}

.Cybercourse h3 {
    transform: translate(5px,-20px);
    color: rgb(53, 68, 68);
}

.Cybercourse p {
    transform: translate(5px,-50px);
    display: inline-block;
    color: rgb(52, 53, 53);
    text-shadow: 0px 0px 10px grey;
}

.Cybercourse:hover{
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: azure;
}

.logo {
    height: 200px;
    width: 200px;
    margin-bottom: -45px;
    border-radius: 50%;
    transform: translatey(-8px);
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-option{
    display: flex;
    align-items: center;
}

.search-option i {
    transform: translateX(120px);
    opacity: 0.8;
}

#search-bar {
    height: 22px;
    width: 470px;
    border: 1px solid black;
    align-items: center;
    transform: translateX(100px);
    padding-left: 30px;
    border-radius: 10px;
    background-color: #3132331c;
    border-color: #a7b2b2;
} 

#search-bar:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#courses {
    transform: translateX(200px);
    border: 0px solid lightgrey;
    border-color: lightgrey;
    border-radius: 8px;
    color: #464646d9;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 80%)
}

#courses:hover {
    transition:.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: azure;
}

#button {
    display: inline-block;
    position: relative;
    transform: translateX(220px);
    margin-right: 15px;
    color: black;
    background-color: white;
    border: none;
}

#button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #button1 {
    transform: translateX(220px);
    margin-left: -10px;
    border: none;
    background-color: white;
}

#button1:hover {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.nav-bar i {
    transform: translateX(230px);
}

.footer {
    height: 300px;
    width: 100%;
    margin-top: 100px;
    margin-left: -8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2d2d2d;
}

.socialmedia {
    height: 260px;
    width: 660px;
}

.gplay {
    height: 40px;
    width: 135px;
    transform: translate(180px,-75px);
}

.gplay img {
    height: 40px;
    width: 135px;
    border-radius: 10px;
    padding-top: 4px;
} 

.followus {
    color: aliceblue;
    transform: translate(40px,30px);
    font-size: large;
    font-weight: 400;
    font-family: system-ui;
}

.aboutus {
    height: 250px;
    width: 695px;
    text-align: justify;
    line-height: 30px;
    color: #ffffff99;
    transform: translateX(-50px);
}

ul {
    height: 30px;
    width: 115px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    transform: translateY(25px);
}

#app {
    height: 30px;
    width: 30px;
}

#hr1 {
    width: 90em;
    transform: translateY(-10px);
    background-color: white;
}

#hr2 {
    width: 90em;
    transform: translate(-690px,10px);
    background-color: white;
}