body {
    overflow-x: hidden;
}

.header-section {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.header-section img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.intro {
    height: 20em;
    width: 50em;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    transform: translateX(35px);
}

.intro h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: xxx-large;
    transform: translateX(90px);
    color: #000000b3;
}

.intro p {
    font-family: system-ui;
    font-size: larger;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: justify;
    color: grey;
}

.skillsection {
    -webkit-appearance: none;
    width: 400px;
    height: 25px;
    border-radius: 50px;
    background: #4fc3f7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translateY(5px);
}
  
.skillsection:hover {
    opacity: 1;
}
  
.skillsection::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 350px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
}

.skillsection1 {
    -webkit-appearance: none;
    width: 400px;
    height: 25px;
    border-radius: 50px;
    background: #4fc3f7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translateY(5px);
}
  
.skillsection1:hover {
    opacity: 1;
}
  
  .skillsection1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
}

.skillsection2 {
    -webkit-appearance: none;
    width: 400px;
    height: 25px;
    border-radius: 50px;
    background: #4fc3f7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translateY(5px);
}
  
  .skillsection2:hover {
    opacity: 1;
}
  
  .skillsection2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    background: #04AA6D;
    cursor: pointer;
}

.Expertise {
    width: 93%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-left: none;
    border-radius: 15px;
    padding-bottom: 50px;
    padding-left: 105px;
    background-color: azure;
}

.Expertise h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: xxx-large;
    color: #000000b3;
    align-self: flex-start;
    transform: translate(-24.7em,-0.5em);
}

.Expertise img {
    transform: translateX(190px);
}

.Expertise p {
    font-family: monospace;
    font-size: x-large;
}

.projects {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d3d3d338;
    border-radius: 15px;
}

.projects h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: xxx-large;
    color: #000000b3;
    text-align: center;
}

.projects img {
    height: 300px;
    width: 640px;
    border-radius: 10px;
    transform: translateX(400px);
}

.spotifydiscription {
    height: 200px;
    width: 401px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 2px;
    font-family: system-ui;
    align-self: flex-end;
    transform: translate(-20px,-300px);
}

.spotifydiscription h4 {
    text-align: center;
    margin-bottom: -10px;
    color: #22cb5f;
}

.personalinfo {
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: azure;
}

.personalinfo h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: xx-large;
    color: #000000b3;
    margin-right: 350px;
}

.getintouch {
    height: 215px;
    width: 28em;
}

.getintouch h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Sans Multani', sans-serif;
    padding-right: 85px;
}

#email-phone {
    margin-bottom: 25px;
    font-size: larger;
    color: midnightblue;
}

.getintouch i {
    margin-right: 15px;
    color: midnightblue;
}

.follow {
    height: 215px;
    width: 60em;
}

.follow h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Sans Multani', sans-serif;
    padding-right: 48em;
}

.icon {
    display: inline-block;
    list-style-type: none;
    transform: translateY(-20px);
}

.follow i {
    margin-right: 10px;
}

#socialmedia {
    font-size: large;
    margin-bottom: 15px;
    color: midnightblue;
}

#anchor {
    text-decoration: none;
}

.bttn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    transform: translate(-120px,-150px);
    list-style-type: none;
}

.follow button {
    height: 35px;
    width: 115px;
    border: 1px solid #0000ffc7;
    border-radius: 5px;
    background-color: whitesmoke;
    color: blue;
    margin-left: 35px;
    font-family: system-ui;
    text-transform: capitalize;
}

.follow button:hover {
    color: white;
    background-color: #0000ffc7;
}